<div class="login_container">
    <div class="panel-left">
        <div class="title-left">
            <h1>¡BIENVENDIDO!</h1>
            <p>Tu salud es nuestra prioridad</p>
        </div>
    </div>
    <div class="panel-right">
        <div class="title-right">
            <h1>Inicia Sesion</h1>
            <p>Ingresa tu usuario y contraseña para acceder a nuestros servicios</p>
        </div>
        <div>
            <form (ngSubmit)="login()" class="login-form">
                <mat-form-field appearance="outline" class="caja-input">
                <mat-label>Usuario o email</mat-label>
                <input matInput [(ngModel)]="username" name="username" required />
                <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
                <mat-icon matPrefix>lock</mat-icon>
                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                </mat-form-field>
                
                <div *ngIf="error" class="error-message">{{ error }}</div>


                <div class="forgot-password">
                <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <button mat-flat-button color="primary" class="login-button">Ingresar</button>
            </form>
        </div>
    </div>
</div>