.layout-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  padding: 1rem;
  background: #f0f0f0;
}

.menu-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 0.77rem;
}

.active-link {
  font-weight: bold;
  color: #1976d2;
}

.banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  padding: 2rem;
}

.footer {
  background: #AFC1CB;
  color: #ffffff;
  padding: 2rem 1rem;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 30%;
  margin-bottom: 1rem;
}

.footer-section h3 {
  margin-top: 0;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.footer-section p {
  margin: 0.3rem 0;
  color: #000000;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 30%;
}

.footer-logo img {
  height: 120px;
  width: auto;
  object-fit: contain;
}


