
<div class="main-container">
        <div class="sidebar">
            <h2>Menu</h2>
            <button (click)="showSection('home')">Home</button>
            <button (click)="showSection('users')">Users</button>
            <button (click)="showSection('dashboard')">Dashboard</button>

        </div>

        <div class="content">
            <div class="banner">
                <img src="header_img.jpeg" alt="Salud IA">
            </div>

            <!-- Sección HOME -->
            <div *ngIf="currentSection === 'home'" class="section">
                <h1>Home <span class="home-icon">🏠</span></h1>
                <div class="info-panels">
                    <div class="panel">
                        <h2>¿Quiénes somos?</h2>
                        <p>Nos dedicamos a brindar atención médica integral, segura y de calidad, centrada en las necesidades de cada paciente. Contamos con un equipo multidisciplinario de profesionales comprometidos con la salud, el bienestar y la vida.</p>
                    </div>
                    <div class="panel">
                        <h2>Servicios</h2>
                        <p>Ofrecemos una amplia gama de servicios de salud para atender a nuestros pacientes en todas las etapas de su vida:</p>
                        <ul>
                            <li>Consulta médica</li>
                            <li>Urgencias</li>
                            <li>Laboratorio clínico</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Sección USERS -->
            <div *ngIf="currentSection === 'users'" class="section">
                <h1>Users</h1>
                <div class="users-tools">
                    <span>👤</span>
                    <span>➕</span>
                    <span>🗑️</span>
                </div>
                <div class="user-panel"></div>
            </div>

            <!-- Sección DASHBOARD -->
            <div *ngIf="currentSection === 'dashboard'" class="section">
                <h1>Dashboard</h1>
                <div class="search-bar">
                    <label>🆔</label>
                    <input type="text" placeholder="Buscar paciente...">
                    <button>🔍</button>
                </div>
                <div class="chart">
                    <img src="ekg_img.webp" alt="EKG">
                </div>
            </div>
        </div>
</div>


