<div class="content">
  <div class="section">
    <h1>Home <span class="home-icon">🏠</span></h1>
    <div class="info-panels">
      <div class="panel">
        <h2>¿Quiénes somos?</h2>
        <p>
          Nos dedicamos a brindar atención médica integral, segura y de calidad,
          centrada en las necesidades de cada paciente. Contamos con un equipo
          multidisciplinario de profesionales comprometidos con la salud, el
          bienestar y la vida.
        </p>
      </div>
      <div class="panel">
        <h2>Servicios</h2>
        <p>
          Ofrecemos una amplia gama de servicios de salud para atender a
          nuestros pacientes en todas las etapas de su vida:
        </p>
        <ul>
          <li>Consulta médica</li>
          <li>Urgencias</li>
          <li>Laboratorio clínico</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="main-container">
        <div class="sidebar">
            <h2>Menu</h2>
            <button (click)="showSection('home')">Home</button>
            <button (click)="showSection('users')">Usuarios</button>
            <button (click)="showSection('dashboard')">Dashboard</button>
        </div>

        <div class="content">
            <div class="banner">
                <img src="header_img.jpeg" alt="Salud IA">
            </div>

            
            <div *ngIf="currentSection === 'home'" class="section">
                <h1>Home <span class="home-icon">🏠</span></h1>
                <div class="info-panels">
                    <div class="panel">
                        <h2>¿Quiénes somos?</h2>
                        <p>Nos dedicamos a brindar atención médica integral, segura y de calidad, centrada en las necesidades de cada paciente. Contamos con un equipo multidisciplinario de profesionales comprometidos con la salud, el bienestar y la vida.</p>
                    </div>
                    <div class="panel">
                        <h2>Servicios</h2>
                        <p>Ofrecemos una amplia gama de servicios de salud para atender a nuestros pacientes en todas las etapas de su vida:</p>
                        <ul>
                            <li>Consulta médica</li>
                            <li>Urgencias</li>
                            <li>Laboratorio clínico</li>

                        </ul>
                    </div>
                </div>
            </div>

            
            <div *ngIf="currentSection === 'users'" class="section">
            <h1>Usuarios</h1>
            <div class="users-tools">
                <span>👤</span>
                <span class="Boton-agregar" (click)="abrirModal()">➕</span>
                <span>🗑️</span>
            </div>
            
            
            <div class="user-panel">
                <ng-container *ngIf="usuarios.length > 0; else sinUsuarios">
                    <table class="tabla-usuarios">
                    <thead>
                        <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Identificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usuarios">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.identification }}</td>
                        </tr>
                    </tbody>
                    </table>
                </ng-container>

                <ng-template #sinUsuarios>
                    <p style="color: gray;">No hay usuarios con rol USER registrados.</p>
                </ng-template>
            </div>


            
            <div *ngIf="currentSection === 'dashboard'" class="section">
            <h1>Dashboard</h1>
            <div class="search-bar">
                <label>🆔</label>
                <input type="text" placeholder="Buscar paciente...">
                <button>🔍</button>
            </div>
            <div class="chart">
                <img src="ekg_img.webp" alt="EKG">
            </div>
            </div>

        </div>
</div>

<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h2>Crear usuario</h2>
    <form (ngSubmit)="crearUsuario()">
      <label>Username: <input [(ngModel)]="nuevoUsuario.username" name="username" required></label>
      <label>Password: <input type="password" [(ngModel)]="nuevoUsuario.password" name="password" required></label>
      <label>Email: <input type="email" [(ngModel)]="nuevoUsuario.email" name="email" required></label>
      <label>Identification: <input [(ngModel)]="nuevoUsuario.identification" name="identification" required></label>
      <label>Rol:
        <select [(ngModel)]="nuevoUsuario.role" name="role" required>
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </label>

      <div class="modal-buttons">
        <button type="submit">Guardar</button>
        <button type="button" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div> -->
